TORQUE_LINK = "https://torque.leverforchange.org/GlobalView"
TORQUE_USERNAME = "USERNAME"
TORQUE_API_KEY = "API_KEY"
COMPETITION = "BaWoP22"
JUDGE_DATA_TYPES = [
    "COMMUNITY-INFORMED",
    "IMPACTFUL",
    "FEASIBLE",
    "SUSTAINABLE",
]

